# Sensitive data
data/config.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.db
*.sqlite
*.db-journal
*.db-shm
*.db-wal

# Logs
*.log

# Workspace
.vscode/
.idea/
scratch/

# OS files
.DS_Store
Thumbs.db
